![TheBridge_logo_RGB_color.jpg](attachment:TheBridge_logo_RGB_color.jpg)

![imagen](./img/ejercicios.png)

## EJERCICIOS PYTHON BASICO 2:
## Tipos y conversión de tipos

Completa los siguiente ejercicios, la solución a los mismos se publicarán en el repo del curso a lo largo del sprint

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 1

1. Crea dos variables numericas: un `int` y un `float`
2. Comprueba sus tipos
3. Sumalas en otra nueva
4. ¿De qué tipo es la nueva variable?
5. Elimina las dos primeras variables creadas

In [ ]:
entero = 1
decimal = 0.1
print(type(entero))
print(type(decimal))

<class 'int'>
<class 'float'>

In [ ]:
suma = entero + decimal
print(suma,type(suma))
del entero
del decimal

1.1 <class 'float'>

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 2
Escribe un programa para pasar de grados a radianes. Hay que usar `input`. Recuerda que la conversión se realiza mediante

radianes = grados*(pi/180)

In [ ]:
import math
valor_grados = input("grados\t")
grados = valor_grados
valor_grados = float(grados)
radianes = valor_grados * (math.pi/180)
print("radianes", radianes)

grados	20.3
radianes 0.3543018381548489

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 3
Escribe un programa que calcule el area de un paralelogramo (base x altura). También con `input`

In [ ]:
valor_base = input("base\t")
valor_altura = input("altura\t")
base = valor_base
altura = valor_altura
valor_base = float(base)
valor_altura = float(altura)
area = valor_base * valor_altura
print("área", area)

base	56.36
altura	785.214
área 44254.66104

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 4
Escribe un programa que calcule el area de un paralelogramo (base x altura). También con `input`. En este caso debe ser capaz de admitir valores reales, con decimales, para base y altura en español. (PISTA: Recuerda que tendrás que hacer uso del método replace)

In [2]:
valor_base = input("base\t")
valor_altura = input("altura\t")
base = valor_base
altura = valor_altura
valor_base = int(base) #no veo cómo hacerlo. ¿Por qué no se pone directamente
#el float como en el ejercicio anterior antes de estar andando con "replace"?
#Total, el usuario va a meter ya el decimal directamente en el input
valor_altura = int(altura)
valor_base.replace("int"",""float")
valor_base_decimal = valor_base.replace("int"",""float")
print(valor_base_decimal)
valor_altura.replace("int"",""float")
valor_altura_decimal = valor_altura.replace("int"",""float")
print(valor_altura_decimal)
area = valor_base * valor_altura
print("área", area)

base	20.3
altura	40.2

ValueError: invalid literal for int() with base 10: '20.3'

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 5
Complete el siguiente código para solicitar al usuario su nombre y su edad. Luego, calcule en qué año nació el usuario y muestre el resultado.

In [4]:
nombre = input("¿Cuál es tu nombre? ")
edad = int(input("¿Cuál es tu edad? "))
año_actual = 2026
año_nacimiento = año_actual - edad

print(f"{nombre}, naciste en el año {año_nacimiento}.")
#f y llaves no lo hemos visto

¿Cuál es tu nombre? l
¿Cuál es tu edad? 26
l, naciste en el año 2000.